
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: black;
    display: block;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}



